.home-banner{
    width:'100%';
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.introPrincipalContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.caroussel{
    z-index: -5;
    position: absolute;
    width: 100vw;
    height: 110vh;
}
.caroussel-Layer{
    z-index: -4;
    position: absolute;
    width: 100vw;
    height: 110vh;
    background-color: rgba(51, 55, 75, 0.5);
}

#introBgImage{
    z-index: -5;
    position: absolute;
    width: 100vw;
    height: 110vh;
    top: 2.5rem;
}
.introPrincipalContainer img{
    width: 24rem;
    height: 10rem;
    margin: 0 0 5rem 0;
}

.introPrincipalContainer h2{
    color: #adacac;
}

@media (max-width:768px) {
    .home-banner{
        height: 50vh;
    }
    .caroussel{
        height: 50vh;
        margin-top: 1.5rem;
    }
    .caroussel-Layer{
        height: 50vh;
    }
    
    #introBgImage{
        height: 100%;
        top: 0;
    }
    .introPrincipalContainer img{
        width: 12rem;
        height: 6rem;
        margin: 1rem 0 1rem 0;
    }
    .introPrincipalContainer h1 {
        font-size: 1.5rem;
        text-align: center;
    }
    .introPrincipalContainer h2 {
        font-size: 1rem;
        text-align: center;
    }
}


