.maps-container {
    position: relative;
    display: block;
    width: 100%;
    height: 400px;
    background-color: #F2F4FE;
    overflow: hidden;
}

#google-maps {
    width: 100%;
    height: 100%;
}